<h1>{{ title }}</h1>

        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>

     

<ng-container *ngFor="let lugar of lugares; let i = index"  [ngSwitch]="lugar.cercania">

        <li contar-clicks [ngStyle]="{'color': (lugar.active)? 'black': 'gray'}" [ngClass]="{'numero_par': (i+1)%2 == 0}" [resaltar]="lugar.plan">
                {{lugar.nombre}}

                <span *ngSwitchCase="1" [ngStyle]="{'color': 'green','font-size': '20px'}">Muy cercano</span>
                <span *ngSwitchCase="2" [ngStyle]="{'color': 'gray','font-size': '20px'}">Cercano</span>
                <span *ngSwitchCase="3" [ngStyle]="{'color': 'red','font-size': '20px'}">Lejano</span>
                <span *ngSwitchDefault>undefine</span>
        </li>

</ng-container>
